<div class="alert alert-primary alert-dismissible fade show" style="text-align: center;" role="alert">
  <strong><%= notice %> <%= alert %></strong> 
  <button type="button" style="border: none; background: none; font-size: 24px;" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>